<!-- body>table.table>th{Head $}*3^tbody>tr*3>td*3 -->
<body>
    <table class="table">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Manish</td>
            <td>mulanimonty@gmail.com</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Preeti</td>
            <td>preetimulchandani.rs@gmail.com</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Murli</td>
            <td>mulanimurli@gmail.com</td>
        </tr>
    </tbody>
    </table>
</body>